@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
   .header__hero, .navbar {
       padding: 2rem;

   }

   section {
       padding: 2rem;
   }

//    .product {

//     & .box-container {
       
//         grid-template-columns: repeat(3, minmax(0, 1fr));

//     }
// }
}

@media (max-width: 768px) {
    #menu-bar {
        display: block;
    }

    .navbar {
    &__menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        right: 0;
        background: whitesmoke;
        padding: 1rem 2rem;
        max-height: 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        transition: max-height .3s,transform .3s,-webkit-transform .3s;
        -webkit-transform-origin: top;
        transform-origin: top;
        overflow: auto;

    }

    &__menu.active {
        transform: scaleY(1);
        max-height: 100vh;
    }

        &__link {
            font-size: 1.7rem;
            display: block;
            padding: 1rem;
            margin: 1.5rem 0;
        }
    }
    
    .home {
        &__content {
            text-align: center;
        }
        &__heading {
            font-size: 4rem;
        }
    }

    .product {

        & .box-container { 
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    .box-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
         font-size: 3rem;
    }

    .header__hero {
        flex-flow: column;
    } 

    .wrapper-search {
        width: 100%;
        margin-top: 2rem;
    }

    .navbar__logo {
        font-size: 4rem;
    }
}