@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600&display=swap');

//FONTS
$fonts : 'Mulish', sans-serif;

//COLORS 
$green: #27ae60;
$black: #212121;
$yellow: #ffa700;

$borderRadius: 1rem;